/* Your mario card styles here */

.card-container {
  height: 160px;
  padding: 20px;
  border: 0.5px solid rgb(243, 41, 135);
  cursor: pointer;
  margin: auto;
  width: 146px;
}

.card-container a {
  text-decoration: none;
  font-size: 12px;
}

.card-container img {
  width: 35%;
  align-items: center;
  justify-content: center;
}

.forward-btn {
  float: right;
  font-size: 19px;
}

.main-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 6rem;
}

@media only screen and (min-width: 768px) {
  .card-container {
    width: 300px;
    height: auto;
    padding: 12px;
    border: 2px solid black;
    cursor: pointer;
    margin: 9px;
  }

  .card-container img {
    width: 100%;
    height: auto;
  }

  .main-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
  }

  .card-container a {
    text-decoration: none;
    font-size: 19px;
  }

  .forward-btn {
    float: right;
    font-size: 29px;
  }
}

.home-login-out {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(236, 15, 100);
  position: fixed;
  padding: 12px 0;
}

.home-login-out h3 {
  font-size: 24px;
  margin: auto;
  text-align: center;
}

.home-login-out a {
  font-size: 19px;
  padding-left: 12px;
}
