/* Your navbar styles here */

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(245, 31, 113, 0.878);
  position: fixed;

  .text-header {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    font-family: 'Roboto', sans-serif;
  }

  .btn-section {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    column-gap: 15px;

    button {
      border: none;
      font-size: 16px;
      cursor: pointer;
    }

    .logout-btn {
      padding: 6px;
      font-size: 16px;
      border-radius: 5px;
      border: none;
      margin: 5px;
      cursor: pointer;
    }
  }

  @media only screen and (min-width: 768px) {
    .text-header {
      font-size: 22px;
    }

    .fa-house {
      font-size: 40px;
    }

    .logout-btn {
      padding: 12px;
      font-size: 19px;
      border-radius: 6px;
      border: none;
      margin: 5px;
      cursor: pointer;
    }
  }
}
