/* This is my many index scss file */
$primary-font: 'Lato', sans-serif;

:root {
  font-family: $primary-font;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  background-color: #fa126b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $primary-font;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

i {
  color: #f3eaea;
}

h2 {
  color: #e9f2fa;
}
