/* This is my many index css file */
:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgb(245, 31, 113);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

i {
  color: rgb(12, 12, 12);
}

h2 {
  color: rgb(24, 128, 224);
}
